<!DOCTYPE html>

<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">

<!-- Giant sidebar with all of the navigation places -->
<div class="sidebar">
    <div class="top">
        <div class="logo">
            <i class="bx bxs-chess"></i>
            <span>Chess Trainer</span>
        </div>

        <i class="bx bx-menu" id="toggle_button"></i>
    </div>
    <div class="user">
        <img src="{{ url_for('static', filename='images/placeholder/image.png') }}" alt="The user's image." class="user-img">
        <div>
            <p class="bold">{{ userSettings["display_name"] }}</p>
            <p>Admin</p>
        </div>
    </div>
    <ul>
        <li>
            <a href="/">
                <i class="bx bxs-grid-alt"></i>
                <span class="nav-item">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bxs-food-menu"></i>
                <span class="nav-item">Repertoires</span>
            </a>
            <span class="tooltip">Repertoires</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-book-alt"></i>
                <span class="nav-item">Train</span>
            </a>
            <span class="tooltip">Train</span>
        </li>
        <li>
            <a href="/about">
                <i class="bx bx-location-plus"></i>
                <span class="nav-item">About</span>
            </a>
            <span class="tooltip">About</span>
        </li>
        <li>
            <a href="/settings">
                <i class="bx bx-cog"></i>
                <span class="nav-item">Settings</span>
            </a>
            <span class="tooltip">Settings</span>
        </li>
        <li>
            <a href="#" id="shutdown_button" onclick="return confirmShutdown();">
                <i class="bx bxs-log-out"></i>
                <span class="nav-item">Exit</span>
            </a>
            <span class="tooltip">Exit</span>
        </li>
    </ul>
</div>

<script>
    // Getting elements from html
    let toggle_button = document.querySelector('#toggle_button');
    let sidebar = document.querySelector('.sidebar');

    // Toggling visibility of sidebar from button click
    toggle_button.onclick = function () {
        sidebar.classList.toggle('active');
    };

    // Shutting Down Button
    function confirmShutdown() {
        const accept = confirm("Do you want to shutdown the Chess Trainer Server?");

        if (accept) {
            window.open('/shutdown', '_self');
        }
    }

</script>
