<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chess Trainer 404</title>

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!-- Sidebar -->
    {% include 'snippets/sidebar.html' %}

    <!-- Main Page Content -->
    <div class="main-content">
        <div class="container">
            <h1>404 - PAGE NOT FOUND</h1>
            <p>The page your are trying to get to cannot be found.</p>
        </div>
    </div>
</body>
</html>