<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Chess Trainer</title>

    <!-- Custom Stylesheet -->
    <link href="{{ url_for('static', filename='css/dashboard/sidebar.css') }}" rel="stylesheet">

    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>

   <!-- Sidebar -->
   {% include 'snippets/sidebar.html' %}

   <!-- Main Page Content -->
   <div class="main-content">
       <div class="container">
           <h1>About Chess Trainer</h1>
       </div>
   </div>

</body>
</html>