<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shut Down</title>

    <style>
        body {
            background-color: rgb(39, 39, 55);

            padding: 20px;
            margin: 20px;

            align-items: center;
        }

        span {
            color: rgb(255, 255, 255);
            font-size: 150%;;
        }

        span.bold {
            font-weight: 600;
            font-size: 300%;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <center>
        <span class="bold">Chess Trainer Server Shut Down</span>
        <br><br><br>        
        <span>You can safely close everything now</span>
    </center>
</body>
</html>